
.card{
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
}



.card > img{
    height: 50%;
    width: auto;
}